/* new style */

body {
  font-size: 16px;
}

.hide {
  display: none;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list-item {
  display: flex;
  justify-content: space-between;
}

.subtask-status {
  font-weight: 800;
  padding: 2px;
}

.status-menu {
  border: none;
  height: 2rem;
  width: 10rem;
  outline: none;
}
